h2
{
    background-color: rgb(255, 255, 255);
    border: gray;
    color: rgb(0, 0, 0);

}
.one:link
{
    color: white;
    background-color: black;
    
}
.one:visited
{
    color: rgb(255, 255, 255)
}

li
{
    color: white;
    background-color: black;

}
.Parent
{
    display: flex;
}
.left
{
    width: 70%;
}

.right
{
    background-color: gray;
    width: 30%;
    height: auto;
}



a:visited
{
    color: white;
}